{% extends "base.html" %}

{% block title %}
    {{ product.name }}
{% endblock title %}

{% block content %}
        <!-- Карточка товара -->
    <div class="row">
        <div class="col-md-3"> 
            <img src="{{ product.image.url }}" class="card-img-top" alt="{{ product.name }}">
        </div>
        <div class="col-md-6">
            <div class="card-body">
              <h5 class="card-title">{{ product.name }}</h5>
              <p class="fw-bold">{{ product.price }} руб.</p>
              <p class="card-text">
                <a href="{{ product.category.get_absolute_url }}">
                    {{ product.category.name }}
                </a>
              </p>
              <div class="description mt-4">
                <h5>Описание</h5>
                <p>{{ product.description|linebreaks }}</p>
              </div>
              <form action="{% url "cart:cart_add" product.id %}" method="post">
                {{ cart_product_form }}
                {% csrf_token %}
                <button type="submit" class="btn btn-primary btn-lg">Добавить в корзину</button>
              </form>
            </div>
          </div>
        </div>
    </div>

        {% if related_products %}
        <div class="related-products mt-5">
            <h2>Похожие товары</h2>
            <div class="row">
                {% for product in related_products %}
                    <div class="col-md-3 mb-4">
                        <div class="card h-100">
                            <a href="{{ product.get_absolute_url }}">
                                <img src="{{ product.image.url }}" class="card-img-top" alt="{{ product.name }}">
                            </a>
                            <div class="card-body">
                                <h5 class="card-title">
                                    <a href="{{ product.get_absolute_url }}">{{ product.name }}</a>
                                </h5>
                                <p class="card-text">{{ product.price }} руб.</p>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
        {% endif %}

{% endblock content %}